*{
    font-family: "montserrat",sans-serif;
}
body{
    background:#353b48;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.but1{ 
    border 1 px solid #ff0000;
    padding: 15px;
    color: #fff;
    background:#ff0000;
    border-radius: 5px;
    transition: all 0.5s;  
   
}
.but1:hover{ 
    border 1 px solid #ff0000;
    padding: 15px;
    color:#ff0000 ;
    background:#fff;
    border-radius: 5px;
    transition: all 0.5s;   
}
.but2{ 
    border 1 px solid #ff4500;
    padding: 15px;
    color: #fff;
    background:#ff4500;
    border-radius: 5px;
    transition: all 0.5s; 
   
   
}
.but2:hover{ 
    border 1 px solid #ff4500;
    padding: 15px;
    color: #ff4500;
    background:#fff;
    border-radius: 5px;
    transition: all 0.5s;   
}
.but3{ 
    border 1 px solid #ffD700;
    padding: 15px;
    color: #fff;
    background:#ffD700;
    border-radius: 5px;
    transition: all 0.5s; 
}
.but3:hover{ 
    border 1 px solid #ffD700;
    padding: 15px;
    color: #ffD700;
    background:#fff;
    border-radius: 5px;
    transition: all 0.5s;   
}
.but4{ 
    border 1 px solid #2E8B57;
    padding: 15px;
    color: #fff;
    background:#2E8B57;
    border-radius: 5px;
    transition: all 0.5s;
 
}
.but4:hover{ 
    border 1 px solid #2E8B57;
    padding: 15px;
    color: #2E8B57;
    background:#fff;
    border-radius: 5px;
    transition: all 0.5s;   
}
.but5{ 
    border 1 px solid #4682B4;
    padding: 15px;
    color: #fff;
    background:#4682B4;
    border-radius: 5px;
    transition: all 0.5s;

}
.but5:hover{ 
    border 1 px solid #4682B4;
    padding: 15px;
    color: #4682B4;
    background:#fff;
    border-radius: 5px;
    transition: all 0.5s;   
}